* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.container {
  display: flex;

  /* flex-direction: row;
  flex-wrap: wrap-reverse; */

  flex-flow: row nowrap;

  align-items: stretch;
  
  
  border: 5px solid green;
  min-height: 60vh;
  /* max-height: 100vh; */
}

.card {
  /* flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 150px; */

  flex: 1 0 150px;

  border: 5px solid black;
  background-color: gray;
  text-align: center;
  font-size: 2em;
}

.flexItem {
 /* flex-grow: 2;
 flex-shrink: 2; */
}

.flexItem2 {
  /* order: -1; */
}
/* 
.second {
  margin-left: auto;
}

.first {
  margin: auto;
} */

/* 
  flex-flow: column-reverse wrap-reverse;
  
  justify-content: space-between;
  align-content: center; */